<div class="sidebar">
    <ul>
        <li><mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Item1</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Item1 content</p>
        </mat-expansion-panel></li>

        <li><mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Item2</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Item2 content</p>
        </mat-expansion-panel></li>

        <li><mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Item3</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Item3 content</p>
        </mat-expansion-panel></li>

        <li><mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Item4</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Item4 content</p>
        </mat-expansion-panel></li>

        <li><mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Item5</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Item5 content</p>
        </mat-expansion-panel></li>
    </ul>
</div>