@use '@angular/material' as mat;
mat-expansion-panel {
    @include mat.expansion-overrides((
        header-text-font: Pricedown,
    ));
}



.sidebar {
    display: flex;
    border-radius: 20px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 141px;
    right: 20px;
}

ul{
    list-style: none;
    padding-left: 0;
}

li{
    margin: 10px 0;
}