<H1>Original Apartment Heists</H1>
<p>There are 5 Apartment heists, </p>
<ol>
    <li>Fleeca Heist - 2 players</li>
    <li>Prison Break - 4 players</li>
    <li>Humane Labs Heist - 4 players</li>
    <li>Series A - 4 players</li>
    <li>Pacific Standard Heist - 4 players</li>
</ol>

<p>It is required to own a high range appartment, be above level 20 and have met Lester Crest to be able to start these heists as leader.</p>


<label for="ReadToggle">I have read this guide</label>
<input type="checkbox" id="ReadToggle">