<header class="top-bar">
    <div class="logo">
        <img src="grand-theft-auto-v-seeklogo.svg" alt="gtav-logo">
    </div>
    <nav class="top-menu">
        <a routerLink="/page-home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        <a routerLink="/page-friends" routerLinkActive="active" ariaCurrentWhenActive="page">Friends</a>
    </nav>
    <div class="user-profile">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="User profile icon">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <a routerLink="/page-account" routerLinkActive="active" ariaCurrentWhenActive="page">Account</a>
            </button>
            <button mat-menu-item>
              <a href="#">Logout</a>
            </button>
          </mat-menu>
    </div>
</header>