<header class="top-bar">
    <div class="logo">
        <img src="grand-theft-auto-v-seeklogo.svg" alt="gtav-logo">
    </div>
    <nav class="top-menu">
        <a routerLink="/page-home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        <a routerLink="/page-friends" routerLinkActive="active" ariaCurrentWhenActive="page">Friends</a>
    </nav>
    <div class="user-profile">
        <img src="unknown-user-logo.svg" alt="user-profile-logo" class="profile-icon">
    </div>
</header>