html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: Roboto, Arial, "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: Pricedown;
    src: url("/fonts/Pricedown.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }